* {
    box-sizing: border-box;
  }
  
  .products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Centers along the opposite axis (up & down) */
    align-items: center;
    width: 90%;
    /* Uses the height of the viewport 
    100vh - height of the viewport - the height of what you can see on your screen! 
    100vh - take up all of the available viewport space that you have
    90vw - is viewport WIDTH. 
    % is percentage of element's parent and not the whole viewport.
    like if html {take up 50% of viewport}
    and body {take up 30% of that} then it will take up 15% of the screen. 
    */
    height: 100vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
  }


  body {
    font-family: Arial;
    margin: 0;
    background-color: gray;
  }
  
  .card {
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: dashed;
    border-width: 5px;
  }

  .card-header {
      color:violet;
      border: 2px solid rgba(232, 102, 236, 0.6);
      /* border-radius: 8px; */
      background-color: gray;
      position: relative;
      margin-top: -20px;
  }

  .grid {
      display: grid;
      width: 100%;
      grid-template-columns: releat(12, 1fr);
  }

  .column {
      display: flex;
      flex-direction:column;
  }

  /* .code-card {
      background-color:rgba(232, 102, 236, 0.6);
  } */

 
  .code-card, .card-header {
      border-radius: 8px;
      transition: all 0.5s ease-in-out;
      color: white;
  }

  .card-body {
    color: violet;
  }

  .code-card:hover, .code-card:hover .card-header {
      box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px 
      rgba(232, 102, 236, 1);
  }

  .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .linear-gradient-background {
      background-image: linear-gradient(
          rgba(232, 102, 236, 0.3) 0%,
          rgba(232, 102, 236, 0.6) 100%
      );
  }
  